html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("/assets/img/cork.jpg");
    background-repeat:repeat;
    background-color:#d3d3d3;
    font-family: Tahoma;
}

#logo {
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-left:25px;
    margin-bottom:5px;
    float:left;
    border:2px solid black;
    border-radius:8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #000000;
    background-image: url("/assets/img/steel.jpg");
    background-repeat: repeat;
    text-align:center;
    position: relative;
    border-bottom:3px solid black;
}

.navlink {
    padding: 5px;
    margin-left: 10px;
    margin-top:7px;
    color: black;
    font-size: 1.3em;
    float: left;
}

nav .navlink:first-of-type {
    margin-left: 50px;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(255, 255, 0);
    transition: background-color 0.4s ease;
    border-radius: 8px;
    border: 2px solid black;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: rgb(255, 255, 200);
}

.taskForm{
    margin-top:0px;
    padding:40px;
    margin-bottom:0px;
    border-radius: 10px;
    background-color:#fdfcba;
    border: 2px solid black;
    /*
    background-image: url("/assets/img/postit.png");
    background-repeat:no-repeat;
    background-size: cover;
    */
}

.taskForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: black;
}

.taskForm input[type=text]{
    
}

.makeTaskSubmit {
    transition: background-color 0.4s ease;
    display: block;
    width: 130px;
    background-color: rgb(255, 255, 0);
    border-radius: 2px;
    color: black;
    text-decoration: none;
    margin-left:25px;
}

.makeTaskSubmit:link, .makeTaskSubmit:visited, .makeTaskSubmit:hover, .makeTaskSubmit:active {
    color: black;
}

.makeTaskSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(255, 255, 200);
}

.mainForm {
    width: 350px;
    margin: 0 auto;
    margin-top: 200px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: rgb(255, 255, 0);
    border-radius: 8px;
    border-color: #7a7a7a;
    padding: 3px 0px;
    color: black;
    text-decoration: none;
    font-family: Tahoma;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: black;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(255, 255, 200);
}

#user, #pass, #pass2 , #oldPass{
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #7a7a7a;
}

#taskMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#taskMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 150px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-style: italic;
}

#task {
    z-index: 225;
    margin-top: -20px;
    margin-left: -75px;
    height: 450px;
    width: 450px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

.list {
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
    text-align:left;
    border: 2px solid black;
    border-radius:100px;
    background-color:rgba(0, 0, 0, 0.3);
    /*
    background-color:#ffd5bd;
    border:2px solid black;
    */
    margin-top:50px;
    margin-bottom:50px;
    padding:30px 0px;
}

.taskCreateForm {
    width: 30%;
    min-width: 400px;
    border-radius: 10px;
    margin: 0 auto;
    text-align:left;
    /*
    background-color:#ffd5bd;
    border:2px solid black;
    */
    margin-top:50px;
    margin-bottom:50px;
    padding:20px;
}

.taskCreateForm .pageTitle{
    color:black;
}

#tasks h3{
    margin-right:10px;
    margin-left:10px;
}

.task {
    background-image: url("/assets/img/postit.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px;
    overflow-wrap: break-word;
    overflow:hidden;
    height:350px;
    max-width:350px;
}

.taskOuterContainer{
    padding:20px;
    width: 25%;
    margin: 10px;
    border-radius: 30px;
}

.taskOuterContainer:hover {
    transition: border-color 0.2s ease-out;
    transition: background-color 2.6s ease-out;
    background-color: rgba(255, 255, 255, 0.5);
}

img.taskFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
    pointer-events:none;
}

.emptyTasks {
    font-style: italic;
    color:rgb(255, 255, 0);
    text-shadow: 3px 3px black;
}

.inputLabels{
    display:block;
    margin-bottom:0px;
}

.taskName, .taskDescription, .taskDueDate, .taskCreatedDate{
    display:block;
    margin-top:0px;
    pointer-events:none;
}

#taskDescription{
    width:100%;
    height:300px;

}

h3.hiddenID{
    display: none;
}

.hiddenCSRF{
    display:none;
}


#charSelectTitle{
    text-align:center;
    margin-top:100px;
}

.sprite{
    display:none;
}

#canvasContainer{
    text-align:center;
    margin-top:50px;
}

#loginForm, #signupForm, #changePasswordForm{
    text-align:center;
    background-color:#fdfcba;
    border: 2px solid black;
    border-radius:10px;
}

#changePassButton{
    width:200px;
}

#loginFormInput h5, #signupFormInput h5, #changePasswordForm h5{
    margin-bottom:0px;
}

#loginForm .formSubmit, #signupForm .formSubmit, #changePasswordForm .formSubmit{
    margin-top:35px;
    margin-bottom:35px;
    border-radius:8px;
}

#createNewTask, #backButton{
    float: right;
    margin-right:25px;
}

#backButton, #createNewTask{
    height: 35px;
    width: 35px;
    margin-top:5px;
    padding:0px;
}

#backButtonImg, #newButtonImg{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    display:inline-block;
}

#backLink, #newLink{
    background-color:rgb(255, 255, 0);
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    display:inline-block;
}

nav h1{
    color:rgb(255, 255, 0);
    padding:0px;
    margin:0px;
    text-shadow: 3px 3px black;
}

#titleContainer{
    padding:0px;
    position:absolute;
    left: 0; 
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto; 
    width:300px;
    vertical-align: center;
}

.taskList{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
}

.taskLabels{
    margin-bottom:0px;
    pointer-events:none;
}

.singleTask{
    margin: 10px 50px;
    border-radius: 30px;
    /*
    background-image: url("/assets/img/postit.png");
    background-repeat:no-repeat;
    background-size: cover;
    */
    overflow-wrap: break-word;
    padding: 50px;
    background-color:#fdfcba;
}

.singleTask button{
    display:inline-block;
    height:60px;
    width:150px;
    margin:30px;
    margin-bottom:20px;
}

.pageTitle{
    text-align:center;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    color: rgb(255, 255, 0);
    /*-webkit-text-stroke: 2px black;*/
}

.list .pageTitle{
    text-shadow: 3px 3px black;
}

#singleTaskButtons{
    text-align:center;
}

#err404{
    text-align: center;
    vertical-align: middle;
    color: rgb(255, 255, 0);
    text-shadow: 3px 3px black;
    font-style: italic;
    font-weight: bold;
}